/* ============================================================
   GLOBAL DUMMY STYLESHEET
   DO NOT STYLE COMPONENTS HERE
   ============================================================ */

QWidget {
    color: #0c1322ff;
}

/* Optional: focus cleanup */
*:focus {
    outline: none;
}
